---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Splash from "../components/Splash.astro";
import Intro from "~/components/Intro.astro";
import Skill from "~/components/Skill.astro";
import Usable from "~/components/Usable.astro";
import Customer from "~/components/Customer.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body
		class="m-auto h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
	>
		<!-- <Header /> -->
		<Splash />
		<main class="py-20 flex flex-col gap-28">
			<Intro />
			<Skill />
			<Usable />
			<Customer />
			<!--<Showcase /> -->
		</main>
		<Footer />
	</body>
</html>
