---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex justify-between bg-slate-200 p-5">
	<h2>
		{SITE_TITLE}
	</h2>
	<nav class="flex">
		<HeaderLink class={'text-blue-500 underline'} href="/">Home</HeaderLink>
		<HeaderLink class={'text-blue-500 underline'} href="/blog">Blog</HeaderLink>
		<HeaderLink class={'text-blue-500 underline'} href="/about">About</HeaderLink>
	</nav>
</header>