---
import { Image, Picture } from "@astrojs/image/components";

import HeaderLink from "./HeaderLink.astro";
import logoImage from "../assets/ghost.png";

const widths = [300, 300];
const sizes = "(min-width: 30px) 3vw, 3vw";
---

<header class="absolute bottom-0 z-10 w-full flex justify-between p-5">
	<h2 class="flex items-center">
		<Picture
			aspectRatio={1}
			class="h-10 w-10 mr-2 object-cover hover:opacity-80"
			src={logoImage}
			widths={widths}
			sizes={sizes}
			loading="eager"
			alt="Logo"
		/>
	</h2>
	<nav class="flex gap-6">
		<HeaderLink
			class={"text-white hover:animate-wiggle hover:opacity-80"}
			href="/"
		>
			Home
		</HeaderLink>
		<HeaderLink
			class={"text-white hover:animate-wiggle hover:opacity-80"}
			href="/blog"
		>
			Blog
		</HeaderLink>
		<HeaderLink
			class={"text-white hover:animate-wiggle hover:opacity-80"}
			href="/about"
		>
			About
		</HeaderLink>
	</nav>
</header>
