---
import { Image, Picture } from "@astrojs/image/components";

import HeaderLink from "./HeaderLink.astro";
import logoImage from "../assets/ghost.png";
import type { NavItem } from "~/types";
import { Icon } from "astro-icon";

const NOTION_URL = await import.meta.env.NOTION_URL;
const links: Array<NavItem> = [
	{
		title: "Blog",
		url: "/blogs",
	},
	{
		title: "Notion",
		url: NOTION_URL,
	},
	{
		title: "Contact",
		url: "#contact",
	},
	{
		title: "About",
		url: "/about",
	},
];
---

<header
	class="absolute bottom-0 z-10 w-full flex justify-between py-5 px-5 md:px-9"
>
	<h2 class="flex items-center">
		<Icon name="tsunami_white" class="h-8 w-8 text-white" />
	</h2>
	<nav class="flex gap-7 md:gap-8">
		{
			links.map((link) => (
				<HeaderLink
					class={
						"text-lg self-center text-white hover:animate-wiggle hover:opacity-80"
					}
					href={link.url}
				>
					{link.title}
				</HeaderLink>
			))
		}
	</nav>
</header>
